


<!-- // NEW DROPDOWNS -->
<div class="ziz-dropdown-2020 shopall-dropdown ">

  <div class=" shop-all-products cf" style="postition: relative;">

    {% for product in collections[settings.scol0].products limit: 4 %}
        <a href="{{ product.url }}" class="prod-box">
          <img src="{{ product.featured_image.src | img_url: '600x' }}" alt="{{ product.featured_image.alt | escape }}">
          <h1>{{ product.title }}</h1>
        </a>
    {% endfor %}


    <div class="support-bar cf">
      <a class="shop-all" href="/collections/shop" >
        Shop All Products →
      </a>
    </div>

  </div>
 
</div>
<!-- //  NEW DROPDOWN -->


<!-- // NEW DROPDOWNS -->
<div class="ziz-dropdown-2020 learn-dropdown ">

  <div class="learn-drop-links">
    <h6>WHY WHOLY DOSE</h6>
    {% for link in linklists.learn-menu.links %}
      <a class="drop-links" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>
  <div class="learn-drop-images">
    <a href="/pages/story">
      <img src="https://cdn.shopify.com/s/files/1/0273/3670/4087/files/Story_drop_down_menu.png?v=1599685028">
      <h6>STORY</h6>
    </a>
    <a href="/pages/ingredients">
      <img src="https://cdn.shopify.com/s/files/1/0273/3670/4087/files/Ingredients_drop_down_menu.jpg_281f57d6-a942-4480-8900-2d536746b023.JPG?v=1599685020">
      <h6>INGREDIENTS</h6>
    </a>
    <a href="/pages/results">
      <img src="https://cdn.shopify.com/s/files/1/0273/3670/4087/files/Results_drop_down_menu.jpg?v=1599685020">
      <h6>RESULTS</h6>
    </a>
  </div>
 
</div>
<!-- //  NEW DROPDOWN -->

