<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>

<!-- Basic page needs ================================================== -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% if settings.favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
{% endif %}

<!-- Title and description ================================================== -->
<title>
{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
</title>

{% if page_description %}
<meta name="description" content="{{ page_description | escape }}">
{% endif %}

<!-- Helpers ================================================== -->
{% include 'social-meta-tags' %}
<link rel="canonical" href="{{ canonical_url }}">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="theme-color" content="{{ settings.color_primary }}">

<!-- CSS ================================================== -->
{{ 'timber.scss.css' | asset_url | stylesheet_tag }}
{{ 'theme.scss.css' | asset_url | stylesheet_tag }}


<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">


{{ 'custom.scss.css' | asset_url | stylesheet_tag }}
{{ 'styles-override.css' | asset_url | stylesheet_tag }}


<!-- Sections ================================================== -->
<script>
  window.theme = window.theme || {};
  theme.strings = {
    zoomClose: {{ "products.zoom.close" | t | json }},
    zoomPrev: {{ "products.zoom.prev" | t | json }},
    zoomNext: {{ "products.zoom.next" | t | json }},
    moneyFormat: {{ shop.money_format | json }},
    addressError: {{ 'home_page.map.address_error' | t | json }},
    addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
    addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
    authError: {{ 'home_page.map.auth_error_html' | t | json }},
    cartEmpty: {{ 'cart.general.empty' | t | json }},
    cartCookie: {{ 'cart.general.cookies_required' | t | json }},
    cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }}
  };
  theme.settings = {
    cartType: {{ settings.cart_type | json }},
    gridType: {{ settings.collection_products_grid | json }}
  };
</script>

{{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}

<script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>



<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.4.1/dist/simpleParallax.min.js"></script>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>



<script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'custom.js' | asset_url }}" defer="defer"></script><!--<![endif]-->

<!-- Header hook for plugins ================================================== -->
{{ content_for_header }}

{{ 'modernizr.min.js' | asset_url | script_tag }}

{% comment %}
  If you store has customer accounts disabled, you can remove the following JS file
{% endcomment %}
{% if template.directory == 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{% endif %}

</head>

{% comment %}
Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >




<div class="site-overlay">
  <div class="spinner">
    <div class="spinner-bg"></div>
  </div>
</div>



{% section 'header' %}



<div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
  <div class="drawer__fixed-header">
    <div class="drawer__header">
      <div class="drawer__title">
        <img src="https://cdn.shopify.com/s/files/1/0273/3670/4087/files/WHOLY_DOSE_LOGO_wordmark-01_900x.jpg?v=1588271959" style="display:block; width: 140px; position: relative; top: 0px; opacity: .5;">
        {% comment %}<div class="cart-titles-main">YOUR BAG</div>{% endcomment %}
      </div>
      <div class="drawer__close">
        <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
          <div class="mcs-close"></div>
          {% comment %}<span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>{% endcomment %}
        </button>
      </div>
    </div>
  </div>
  <div class="drawer__inner">
    <div id="CartContainer" class="drawer__cart"></div>
  </div>
</div>




{% comment %}
{% if template.name == "index" %}
  {% section 'slideshow-new' %}
{% endif %}
{% endcomment %}




<div id="PageContainer" class="page-container">

  {% if template.name == "index" %}
  {% section 'maxwell-banner-home' %}
  {% endif %}

  <main class="{% unless template.name == "index" %} page-content {% endunless %}" role="main">
    
    {{ content_for_layout }}

  </main>

  {% section 'instafeed' %}

  {% section 'footer' %}

</div>

{% comment %}
  Template-specific js
{% endcomment %}
<script>
  {% if resetPassword %}
    $(function() {
      timber.resetPasswordSuccess();
    });
  {% endif %}
</script>

{% comment %}
  Ajaxify your cart with this plugin.
  Documentation:
    - http://shopify.com/timber#ajax-cart
{% endcomment %}
{% if settings.cart_type == 'drawer' %}
  {% include 'ajax-cart-template' %}
{% endif %}

{% if template.name == 'product' or template.name == 'index' %}
  <script>
    // Override default values of shop.strings for each template.
    // Alternate product templates can change values of
    // add to cart button, sold out, and unavailable states here.
    theme.productStrings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }}
    }
  </script>
{% endif %}








<div id="SearchModal" class="mfp-hide">
  {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--modal' %}
</div>


<script>
$(document).ready(function(){


$(".quick-adds-label").click(function(){
    var radio = $(this).prev();

    $(this).siblings().removeClass('active');

    $(this).addClass('active');
    radio.addClass('active');
});

  $('.mcs-add-to-cart').click(function(e){
      e.preventDefault();
      var toAdd = new Array();
         $(this).prev("input.active").each(function(){
            toAdd.push({
             variant_id: $(this).attr("data-varid"),
             quantity_id: 1
            });
          });

      
      moveAlong(toAdd);
       
  });
      
  function moveAlong(toAdd) {
          
    if (toAdd.length) {
            
      var request = toAdd.shift();
      var tempId = request.variant_id;
      var tempQty = request.quantity_id;          
      var params = {
        type: 'POST',
        url: '/cart/add.js',
              data:{ quantity: tempQty,id: tempId},
        dataType: 'json',
        success: function(line_item) { 
          moveAlong(toAdd);
        },
        error: function(xhr, status, error) {
          console.log(xhr.responseText + status + error);
          moveAlong(toAdd);
                  console.log(xhr.responseText );
        }
      };
      $.ajax(params);
    }
    else {  
      // alert("All items added to cart.");
      // console.log("donnee");
          
      $(".cart-link").trigger('click');
    }  
  }




});
</script>


{% include 'subscription-theme-footer' %}


<script>!function(){var e=window.wiremo_config?new window.wiremo_config:{},t={reviewSource:location.pathname,identifier:location.pathname},n=document.createElement("script");for (var attr in e) {t[attr] = e[attr];} n.type="text/javascript",n.async=!0,n.src="https://wapi.wiremo.co/v2/script?k=5cbf75cbeac2a9124002874a&w="+encodeURIComponent(JSON.stringify(t));var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(n,o)}();</script>

{% if template.name == 'index' or template.name == 'product' %}
<a href="#top">
  <div class="hide-mobile scroll-arrow">
    BACK TO TOP
    <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.90723 1.68907C6.131 1.68907 6.34561 1.77797 6.50385 1.9362C6.66208 2.09443 6.75098 2.30905 6.75098 2.53282V17.7203C6.75098 17.9441 6.66208 18.1587 6.50385 18.3169C6.34561 18.4752 6.131 18.5641 5.90723 18.5641C5.68345 18.5641 5.46884 18.4752 5.31061 18.3169C5.15237 18.1587 5.06348 17.9441 5.06348 17.7203V2.53282C5.06348 2.30905 5.15237 2.09443 5.31061 1.9362C5.46884 1.77797 5.68345 1.68907 5.90723 1.68907Z" fill="#1D1D1D"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.30994 0.247883C5.38832 0.169308 5.48143 0.106967 5.58393 0.064431C5.68644 0.0218951 5.79633 0 5.90732 0C6.0183 0 6.12819 0.0218951 6.2307 0.064431C6.3332 0.106967 6.42631 0.169308 6.50469 0.247883L11.5672 5.31038C11.7256 5.46882 11.8146 5.6837 11.8146 5.90776C11.8146 6.13182 11.7256 6.3467 11.5672 6.50513C11.4088 6.66357 11.1939 6.75257 10.9698 6.75257C10.7458 6.75257 10.5309 6.66357 10.3724 6.50513L5.90732 2.03832L1.44219 6.50513C1.28376 6.66357 1.06888 6.75257 0.844816 6.75257C0.620757 6.75257 0.405875 6.66357 0.247441 6.50513C0.0890073 6.3467 0 6.13182 0 5.90776C0 5.6837 0.0890073 5.46882 0.247441 5.31038L5.30994 0.247883Z" fill="#1D1D1D"/>
    </svg>
  </div>
</a>
{% endif %}
  <script>
    $( document ).ready(function() {
        $('.scroll-arrow').hide();
    });
    
    $("a[href='#top']").click(function() {
      $("html, body").animate({ scrollTop: 0 }, "slow");
      return false;
    });
    
    $(document).scroll(function() {
      var y = $(this).scrollTop();
      if (y > 620) {
        $('.scroll-arrow').fadeIn();
      } else {
        $('.scroll-arrow').fadeOut();
      }
    });
  </script>

  
</body>
</html>
