
<footer class="ziz-footer">
  <div class="wrapper">

    <div class="footer-box footer-box1">
      
      <a href="/">
        <img src="{{ section.settings.footerimg | img_url : 'master', scale: 2 }}" width="240" stlye="position: relative;margin-right: 10px;display: inline-block;width: 240px;">
      </a>

      <ul class="no-bullets social-icons">

           {% if settings.social_instagram_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                    <span class="icon icon-instagram" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                    <span class="icon icon-facebook" aria-hidden="true"></span>
                   
                  </a>
                </li>
              {% endif %}
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a target="_blank"  href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                    <span class="icon icon-twitter" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                    <span class="icon icon-pinterest" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
             
              {% if settings.social_snapchat_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                    <span class="icon icon-snapchat" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_google_plus_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                    <span class="icon icon-google_plus" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                    <span class="icon icon-tumblr" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
                <li>
                  <a  target="_blank" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    <span class="icon icon-youtube" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                    <span class="icon icon-vimeo" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_fancy_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                    <span class="icon icon-fancy" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
            </ul>  

      {% unless shop.enabled_payment_types == empty %}
      {% assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,google_pay,interac,jcb,klarna,litecoin,maestro,master,paypal,shopify_pay,visa' | split: ',' %}
      <ul class="inline-list payment-icons" style="padding: 5px 0; margin: 0;">
        <li>
          <img width="25" src="https://cdn.shopify.com/s/files/1/0492/8489/files/Screen_Shot_2019-06-25_at_3.38.49_PM.png?19363">
        </li>
        {% for type in shop.enabled_payment_types %}

        {% if payment_icons_available contains type %}
        <li style="padding: 0; margin: 0;">
          <span class="icon-fallback-text">
            <span  class="icon icon-{{ type }}" aria-hidden="true" style="font-size: 10px; color: black; opacity: .5;"></span>
            <span class="fallback-text"  style="font-size: 10px; color: black; opacity: .5;">{{ type | replace: '_',' ' }}</span>
          </span>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endunless %}

    </div>

    <div class="footer-box">
      {% if section.settings.footer_title1 %}
      <h1>{{ section.settings.footer_title1 }}</h1>
      {% endif %}
      {% for link in linklists[section.settings.footer_link_list].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </div>

    <div class="footer-box">
      {% if section.settings.footer_title2 %}
      <h1>{{ section.settings.footer_title2 }}</h1>
      {% endif %}
      {% for link in linklists[section.settings.footer_link_list2].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </div>

    <div style="clear:both;"></div>

    <div class="footer-bottom cf">

      {% if section.settings.footer_text != blank %}
    <div class="disclaim">
      {{ section.settings.footer_text }}
    </div>
      {% endif %}

    <div class="cright">
      <div style="float:left;">
      <span
       style=" position: relative; "
      >&copy; {{ 'now' | date: '%Y' }} Wholy Dose</span>
      </div>
    </div>

  
    </div>

  
  </div>
</footer>



{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "settings": [
	{
      "type": "image_picker",
      "id": "footerimg",
      "label": "Footer logo IMG"
    },
	{
      "type": "text",
      "id": "footer_title1",
      "label": "Title",
      "default": "Company"
    },
    {
      "type": "link_list",
      "id": "footer_link_list",
      "label": {
        "de": "Fußzeilenmenü",
        "en": "Footer menu",
        "es": "Menú inferior",
        "fr": "Menu pied de page",
        "it": "Menu footer",
        "ja": "フッターメニュー",
        "pt-BR": "Menu do rodapé"
      },
      "default": "footer"
    },
	{
      "type": "text",
      "id": "footer_title2",
      "label": "Title",
      "default": "Information"
    },
    {
      "type": "link_list",
      "id": "footer_link_list2",
      "label": {
        "de": "Fußzeilenmenü",
        "en": "Footer menu 2",
        "es": "Menú inferior",
        "fr": "Menu pied de page",
        "it": "Menu footer",
        "ja": "フッターメニュー",
        "pt-BR": "Menu do rodapé"
      },
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "de": "Zahlungssymbole anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "pt-BR": "Exibir ícones de pagamento"
      },
      "default": true
    },
    {
      "type": "textarea",
      "id": "footer_text",
	  "label": "Text"
    }
  ]
}
{% endschema %}
