
<div class="homepage-callouts cf" style="background-color: {{ section.settings.bgcolor }}">
  <div class="">
    <div class="titles">
      <h1 style="color: {{ section.settings.textcolor }};">{{ section.settings.callouttitle }}</h1>
       {% if section.settings.calloutsubtitle  != blank %}<h6 style="color: {{ section.settings.textcolor }};">{{ section.settings.calloutsubtitle }}</h6>{% endif %}
    </div>
    <div class="ziz-boxes">
      <div class="ziz-box">
        {% if section.settings.layer1icon  != blank %}
          <img class="layer-icon waypoint fade-in" src="{{ section.settings.layer1icon  | img_url: '600x'  }}" />
          <h6 style="color: {{ section.settings.textcolor }};">{{ section.settings.layer1title }}</h6>
          <p style="color: {{ section.settings.textcolor }};">{{ section.settings.layer1html }}</p>
        {% endif %}
      </div>
      <div class="ziz-box">
        {% if section.settings.layer2icon  != blank %}
          <img class="layer-icon waypoint fade-in" src="{{ section.settings.layer2icon  | img_url: '600x'  }}" />
          <h6 style="color: {{ section.settings.textcolor }};">{{ section.settings.layer2title }}</h6>
          <p style="color: {{ section.settings.textcolor }};">{{ section.settings.layer2html }}</p>
        {% endif %}
      </div>
      <div class="ziz-box">
        {% if section.settings.layer3icon  != blank %}
          <img class="layer-icon waypoint fade-in" src="{{ section.settings.layer3icon  | img_url: '600x'  }}" />
          <h6 style="color: {{ section.settings.textcolor }};">{{ section.settings.layer3title }}</h6>
          <p style="color: {{ section.settings.textcolor }};">{{ section.settings.layer3html }}</p>
        {% endif %}
      </div>
      <div class="ziz-box">
        {% if section.settings.layer4icon  != blank %}
          <img class="layer-icon waypoint fade-in" src="{{ section.settings.layer4icon  | img_url: '600x'  }}" />
          <h6 style="color: {{ section.settings.textcolor }};">{{ section.settings.layer4title }}</h6>
          <p style="color: {{ section.settings.textcolor }};">{{ section.settings.layer4html }}</p>
        {% endif %}
      </div> 

      <div class="ziz-box">
        {% if section.settings.layer5icon  != blank %}
          <img class="layer-icon waypoint fade-in" src="{{ section.settings.layer5icon  | img_url: '600x'  }}" />
          <h6 style="color: {{ section.settings.textcolor }};">{{ section.settings.layer5title }}</h6>
          <p style="color: {{ section.settings.textcolor }};">{{ section.settings.layer5html }}</p>
        {% endif %}
      </div> 
    </div>
  </div>
</div>




{% schema %}
  {
    "name": "Homepage Callouts mcs",
    "settings": [
      {
        "type": "color",
        "id": "bgcolor",
        "label": "Section bg color"
      },
      {
        "type": "color",
        "id": "textcolor",
        "label": "Section text color"
      },
      {
        "type": "text",
        "id": "callouttitle",
        "label": "Callout title"
      },
      {
        "type": "image_picker",
        "id": "layer1icon",
        "label": "Layer icon 1"
      },
      {
        "type": "text",
        "id": "layer1title",
        "label": "Layer 1 title"
      },
      {
        "type": "html",
        "id": "layer1html",
        "label": "Layer 1 text"
      },
      {
        "type": "image_picker",
        "id": "layer2icon",
        "label": "Layer icon 2"
      },
      {
        "type": "text",
        "id": "layer2title",
        "label": "Layer 2 title"
      },
      {
        "type": "html",
        "id": "layer2html",
        "label": "Layer 2 text"
      },
      {
        "type": "image_picker",
        "id": "layer3icon",
        "label": "Layer icon 3"
      },
      {
        "type": "text",
        "id": "layer3title",
        "label": "Layer 3 title"
      },
      {
        "type": "html",
        "id": "layer3html",
        "label": "Layer 3 text"
      },
      {
        "type": "image_picker",
        "id": "layer4icon",
        "label": "Layer icon 4"
      },
      {
        "type": "text",
        "id": "layer4title",
        "label": "Layer 4 title"
      },
      {
        "type": "html",
        "id": "layer4html",
        "label": "Layer 4 text"
      },
      {
        "type": "image_picker",
        "id": "layer5icon",
        "label": "Layer icon 5"
      },
      {
        "type": "text",
        "id": "layer5title",
        "label": "Layer 5 title"
      },
      {
        "type": "html",
        "id": "layer5html",
        "label": "Layer 5 text"
      }
    ],
    "presets": [
      {
        "name": "Homepage Callout (mcs)",
        "category": "Image"
      }
    ]
  }
{% endschema %}
