

<div class="homepage-banner">

  <div class="banner top-banner desktop">
    <img class="new-banner-desktop" src="{{ section.settings.topbannerdesktop | img_url: '2000x' }}">
    {% if section.settings.topbannertitle != blank %}
    <div class="new-callouts desktop">
      <div class="new-content-right">
        <h1 class="waypoint fade-in">{{ section.settings.topbannertitle }}</h1>
        {% if section.settings.topbannercopy != blank %}<p>{{ section.settings.topbannercopy }}</p>{% endif %}
        <a class="cta"  style="margin-top: 15px;" href="{{ section.settings.topbannerbtnlink }}">{{ section.settings.topbannerbtn }}</a>
      </div>
    </div>
    {% endif %}
  </div>

</div>



{% schema %}
  {
    "name": "Products Page Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "topbannerdesktop",
        "label": "Top Banner Desktop"
      },
      {
        "type": "image_picker",
        "id": "topbannermobile",
        "label": "Top Banner Mobile"
      },
      {
        "type": "text",
        "id": "topbannertitle",
        "label": "Top Banner Title"
      },
      {
        "type": "textarea",
        "id": "topbannercopy",
        "label": "Top Banner Copy"
      },
      {
        "type": "text",
        "id": "topbannerbtn",
        "label": "Top Banner Btn"
      },
      {
        "type": "url",
        "id": "topbannerbtnlink",
        "label": "Top Banner Button link"
      }
    ],
    "presets": [
      {
        "name": "Products Page Banner",
        "category": "Image"
      }
    ]
  }
{% endschema %}
