
<div class=" ingred-home cf" style="background-color: {{ section.settings.bgcolor }}; position:relative;">

  <div class="ingred-wrap">
    <div class="ing-box ing-box-1 waypoint">
      <div class="ingredient-img" style="background: url('{{ section.settings.shopsimg1 | img_url: '600x' }}') center center; background-size: cover; z-index: 4; position: relative;">
      </div>
      <h6 style="color: white; margin-top: 15px;">{{ section.settings.i1title }}</h6>
    </div>
    <div class="ing-box ing-box-2  waypoint">
      <div class="ingredient-img" style="background: url('{{ section.settings.shopsimg2 | img_url: '600x' }}') center center; background-size: 90%; z-index: 3; position: relative;">
      </div>
      <h6 style="color: white; margin-top: 15px;">{{ section.settings.i2title }}</h6>
    </div>
    <div class="ing-box ing-box-3 waypoint">
      <div class="ingredient-img" style="background: url('{{ section.settings.shopsimg3 | img_url: '600x' }}') center center; background-size: 90%; z-index: 2; position: relative;">
      </div>
      <h6 style="color: white; margin-top: 15px;">{{ section.settings.i3title }}</h6>
    </div>
    <div class="ing-box  ing-box-4  waypoint">
      <div class="ingredient-img" style="background: url('{{ section.settings.shopsimg4| img_url: '600x' }}') center center; background-size: cover; z-index: 1; position: relative;">
      </div>
      <h6 style="color: white; margin-top: 15px;">{{ section.settings.i4title }}</h6>
    </div>
  </div>


  <div class="the-content">
    <div class="vertical">
      <h1 class="waypoint" style="">{{ section.settings.contenttitle }}</h1>
      <div class="cities">{{ section.settings.cities }}</div>
      <div class="others">{{ section.settings.content }}</div>
      {% if section.settings.linktext  != blank %}<a href="{{ section.settings.link }}" class="linkto">{{ section.settings.linktext }}<span>&#x2192;</span></a>{% endif %}
    </div>
  </div>

</div>




{% schema %}
  {
    "name": "Ingredients Home mcs",
    "settings": [
      {
        "type": "color",
        "id": "bgcolor",
        "label": "Section bg color"
      },
      {
        "type": "image_picker",
        "id": "shopsimg1",
        "label": "Ingredient img1"
      },
      {
        "type": "text",
        "id": "i1title",
        "label": "1st title"
      },
      {
        "type": "image_picker",
        "id": "shopsimg2",
        "label": "Ingredient img2"
      },
      {
        "type": "text",
        "id": "i2title",
        "label": "2 title"
      },
      {
        "type": "image_picker",
        "id": "shopsimg3",
        "label": "Ingredient img3"
      },
      {
        "type": "text",
        "id": "i3title",
        "label": "3 title"
      },
      {
        "type": "image_picker",
        "id": "shopsimg4",
        "label": "Ingredients img4"
      },
      {
        "type": "text",
        "id": "i4title",
        "label": "4title"
      },
      {
        "type": "text",
        "id": "contenttitle",
        "label": "cotent title"
      },
      {
        "type": "html",
        "id": "cities",
        "label": "Ingredients list"
      },
      {
        "type": "html",
        "id": "content",
        "label": "Content area"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link to"
      },
      {
        "type": "text",
        "id": "linktext",
        "label": "Link text"
      }
    ],
    "presets": [
      {
        "name": "Ingredients Home mcs",
        "category": "Image"
      }
    ]
  }
{% endschema %}
