<div div class="press-slider-wrapper">
  <div class="wrapper">
    <h6>AS SEEN IN</h6>
    <div class='press-slider-text'>
      <div class='press-testimonial slide slide1'>
        <h1><a href="{{ settings.pressreview1link }}" target="_blank">{{ settings.pressreviewsimg1txt }}</a></h1>
      </div>
      <div class='press-testimonial slide slide2'>
        <h1><a href="{{ settings.pressreview2link }}" target="_blank">{{ settings.pressreviewsimg2txt }}</a></h1>
      </div>
      <div class='press-testimonial slide slide3'>
        <h1><a href="{{ settings.pressreview3link }}" target="_blank">{{ settings.pressreviewsimg3txt }}</a></h1>
      </div>
      <div class='press-testimonial slide slide4'>
        <h1><a href="{{ settings.pressreview4link }}" target="_blank">{{ settings.pressreviewsimg4txt }}</a></h1>
      </div>
    </div>
    <div class='press-slider-logos'>
      <div class='logos slide-logos slide1-logos'>
        <a href="{{ settings.pressreview1link }}" target="_blank">
          <img src="{{ settings.pressreviewsimg1 | img_url: '600x' }}"/>
        </a>
      </div>
      <div class='logos slide-logos slide2-logos'>
        <a href="{{ settings.pressreview2link }}" target="_blank">
          <img src="{{ settings.pressreviewsimg2 | img_url: '600x' }}"/>
        </a>
      </div>
      <div class='logos slide-logos slide3-logos'>
        <a href="{{ settings.pressreview3link }}" target="_blank">
          <img src="{{ settings.pressreviewsimg3 | img_url: '600x' }}"/>
        </a>
      </div>
      <div class='logos slide-logos slide4-logos'>
        <a href="{{ settings.pressreview4link }}" target="_blank">
          <img src="{{ settings.pressreviewsimg4 | img_url: '600x' }}"/>
        </a>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Maxwell New Press Area",
    "settings": [
    ],
    "presets": [
      {
        "name": "Maxwell Press Area",
        "category": "Press"
      }
    ]
  }
{% endschema %}
