<div class="wrapper">
  <div class="page-text-center page-text-center--full-width">
    <h1 class="subheaders-custom-3">{{ section.settings.contenttitle }}</h1>
  </div>
  <img src="{{ section.settings.img1  | img_url: '2000x' }}">
</div>

<div class="wrapper">
  <div class="page-text-center">
    <h1 class="subheaders-custom-3">{{ section.settings.content1toptitle }}</h1>
    <div class="rte">{{ section.settings.content1toptext }}</div>
  </div>
</div>

<div class="page-blocks">
  <h1 class="subheaders-custom-3">{{ section.settings.content1title }}</h1>
  <div class="wrapper cf">
    <div class="page-block visible-xs">
      <img src="{{ section.settings.block1 | img_url: '2000x' }}">
    </div>
    <div class="page-block">
      <div class="content">
        {{ section.settings.content1 }}
      </div>
    </div>
    <div class="page-block hidden-xs">
      <img src="{{ section.settings.block1 | img_url: '2000x' }}">
    </div>
  </div>
</div>

<div class="page-blocks">
  <h1 class="subheaders-custom-3">{{ section.settings.content2title }}</h1>
  <div class="wrapper cf">
    <div class="page-block">
      <img src="{{ section.settings.block2 | img_url: '2000x' }}">
    </div>
    <div class="page-block">
      <div class="content">
        {{ section.settings.content2 }}
      </div>
    </div>

    <div class="content-text">
      {{ section.settings.content3 }}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "About Page extra content ",
  "class": "page-about-content",
  "settings": [
    {
      "type": "html",
      "id": "contenttitle",
      "label": "content top title"
    },
    {
      "id": "img1",
      "type": "image_picker",
      "label": "banner img"
    },
    {
      "type": "html",
      "id": "content1toptitle",
      "label": "content 1 title"
    },
    {
      "type": "richtext",
      "id": "content1toptext",
      "label": "content 1 text",
	  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "id": "block1",
      "type": "image_picker",
      "label": "Block1 img"
    },
    {
      "type": "text",
      "id": "content1title",
      "label": "content 1 title"
    },
    {
      "type": "richtext",
      "id": "content1",
      "label": "content 1 text",
	  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "id": "block2",
      "type": "image_picker",
      "label": "Block2 img"
    },
    {
      "type": "text",
      "id": "content2title",
      "label": "content 2 title"
    },
    {
      "type": "richtext",
      "id": "content2",
      "label": "content 2",
	  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "richtext",
      "id": "content3",
      "label": "content 3",
	  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    }
  ]
}
{% endschema %}