<div class="wrapper">
  <div class="page-text-center">
    <h1 class="subheaders-custom-3">{{ section.settings.content1title }}</h1>
    <div class="rte">{{ section.settings.content1copy }}</div>
  </div>
</div>

<div class="wrapper">
  <div class="new-ingredients-blocks">
    <div class="i-block">
      <img src="{{ section.settings.icon1 | img_url: '600x' }}" >
      <h3 class="ingredient-text">{{ section.settings.icontitle1 }}</h3>
      <div class="ingredients-icon-text">{{ section.settings.icontext1 }}</div>
      <a class="ingredient-link" href="{{ section.settings.link1 }}">{{ section.settings.link_label1 }}</a>
    </div>
    <div class="i-block">
      <img src="{{ section.settings.icon2 | img_url: '600x' }}" >
      <h3 class="ingredient-text">{{ section.settings.icontitle2 }}</h3>
      <div class="ingredients-icon-text">{{ section.settings.icontext2 }}</div>
      <a class="ingredient-link" href="{{ section.settings.link2 }}">{{ section.settings.link_label2 }}</a>
    </div>
    <div class="i-block">
      <img src="{{ section.settings.icon3 | img_url: '600x' }}" >
      <h3 class="ingredient-text">{{ section.settings.icontitle3 }}</h3>
      <div class="ingredients-icon-text">{{ section.settings.icontext3 }}</div>
      <a class="ingredient-link" href="{{ section.settings.link3 }}">{{ section.settings.link_label3 }}</a>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="page-text-center medium-content">
    <h1 class="subheaders-custom-2">{{ section.settings.content2title }}</h1>
    <div class="rte">{{ section.settings.content2copy }}</div>
  </div>
</div>

<div class="wrapper">
  <div class="superfood-blocks">
    <div class="s-block">
      <img src="{{ section.settings.icon4 | img_url: '600x' }}" >
      <div class="thecopy">
        <h3>{{ section.settings.icontitle4 }}</h3>
        <div class="ingredients-icon-text">{{ section.settings.icontext4 }}</div>
      </div>
    </div>
    <div class="s-block">
      <img src="{{ section.settings.icon5 | img_url: '600x' }}" >
      <div class="thecopy">
        <h3>{{ section.settings.icontitle5 }}</h3>
        <div class="ingredients-icon-text">{{ section.settings.icontext5 }}</div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-icons">
  <div class="wrapper">
    <h1 class="subheaders-custom-3">{{ section.settings.bottomtitle }}</h1>
    <div class="rte">{{ section.settings.bottomtext }}</div>
  </div>
  <div class="wrapper wrapper--icons">
    <div class="icon">
      <img src="{{ section.settings.i1 | img_url: '300x' }}" >
      <p>{{ section.settings.i1c }}</p>
    </div>
    <div class="icon">
      <img src="{{ section.settings.i2 | img_url: '300x' }}" >
      <p>{{ section.settings.i2c }}</p>
    </div>
    <div class="icon">
      <img src="{{ section.settings.i3 | img_url: '300x' }}" >
      <p>{{ section.settings.i3c }}</p>
    </div>
    <div class="icon">
      <img src="{{ section.settings.i4 | img_url: '300x' }}" >
      <p>{{ section.settings.i4c }}</p>
    </div>
    <div class="icon">
      <img src="{{ section.settings.i5 | img_url: '300x' }}" >
      <p>{{ section.settings.i5c }}</p>
    </div>
    <div class="icon">
      <img style="margin-top: -15px;" src="{{ section.settings.i6 | img_url: '300x' }}" >
      <p>{{ section.settings.i6c }}</p>
    </div>
  </div>
</div>

{% for block in section.blocks %}
  <div class="ingredients-block cf">
    <div class="wrapper">
      <h2 class="ingredients-section-title text-center">{{ block.settings.title }}</h2>
      <div class="ingredients-icons text-center cf">
        <div class="ingredients-col-icon">
          <img src="{{ block.settings.icon1 | img_url: '300x' }}" class="ingredients-icon-image">
          <h4>{{ block.settings.icontitle1 }}</h4>
          <div class="ingredients-icon-text">{{ block.settings.icontext1 }}</div>
        </div>
        <div class="ingredients-col-icon">
          <img src="{{ block.settings.icon2 | img_url: '300x' }}" class="ingredients-icon-image">
          <h4>{{ block.settings.icontitle2 }}</h4>
          <div class="ingredients-icon-text">{{ block.settings.icontext2 }}</div>
        </div>
        <div class="ingredients-col-icon">
          <img src="{{ block.settings.icon3 | img_url: '300x' }}" class="ingredients-icon-image">
          <h4>{{ block.settings.icontitle3 }}</h4>
          <div class="ingredients-icon-text">{{ block.settings.icontext3 }}</div>
        </div>
        <div class="ingredients-col-icon">
          <img src="{{ block.settings.icon4 | img_url: '300x' }}" class="ingredients-icon-image">
          <h4>{{ block.settings.icontitle4 }}</h4>
          <div class="ingredients-icon-text">{{ block.settings.icontext4 }}</div>
        </div>
      </div>
      <div class="ingredients-content">
        <div class="ingredients-col-left">
          {{ block.settings.leftcolumn }}
        </div>
        <div class="ingredients-col-right">
          {{ block.settings.rightcolumn }}
        </div>
      </div>
    </div>
  </div>
{% endfor %}





{% schema %}
{
	"name": "About Page extra content ",
	"class": "page-ingredients-content",
	"settings": [
		{
      "id": "content1title",
      "type": "text",
   		"label": "content 1 Title"
    },
    {
      "id": "content1copy",
      "type": "richtext",
   	  "label": "content 1 text"
    },
	  {
      "id": "title",
      "type": "text",
   		"label": "Section Title"
    },
    {
      "id": "icon1",
      "type": "image_picker",
   		"label": "Icon 1"
    },
    {
      "id": "icontitle1",
      "type": "text",
   		"label": "Icon Title 1"
    },
    {
      "id": "icontext1",
      "type": "richtext",
   		"label": "Icon Text 1"
    },
	{
      "type": "text",
      "id": "link_label1",
      "label": "Button Text"
    },
	{
      "type": "url",
      "id": "link1",
      "label": "Link to Button"
    },
    {
      "id": "icon2",
      "type": "image_picker",
   		"label": "Icon 2"
    },
    {
      "id": "icontitle2",
      "type": "text",
   		"label": "Icon Title 2"
    },
    {
      "id": "icontext2",
      "type": "richtext",
   		"label": "Icon Text 2"
    },
	{
      "type": "text",
      "id": "link_label2",
      "label": "Button Text"
    },
	{
      "type": "url",
      "id": "link2",
      "label": "Link to Button"
    },
    {
      "id": "icon3",
      "type": "image_picker",
   		"label": "Icon 3"
    },
    {
      "id": "icontitle3",
      "type": "text",
   		"label": "Icon Title 3"
    },
    {
      "id": "icontext3",
      "type": "richtext",
   		"label": "Icon Text 3"
    },
	{
      "type": "text",
      "id": "link_label3",
      "label": "Button Text"
    },
	{
      "type": "url",
      "id": "link3",
      "label": "Link to Button"
    },
    {
    	"type": "header",
    	"content": "superfood section"
    },
    {
      "id": "content2title",
      "type": "richtext",
   		"label": "content 2 Title"
    },
    {
      "id": "content2copy",
      "type": "richtext",
   		"label": "content 2 copy"
    },
    {
      "id": "icon4",
      "type": "image_picker",
   		"label": "Icon 4"
    },
    {
      "id": "icontitle4",
      "type": "text",
   		"label": "Icon Title 4"
    },
    {
      "id": "icontext4",
      "type": "richtext",
   		"label": "Icon Text 4"
    },
    {
      "id": "icon5",
      "type": "image_picker",
   		"label": "Icon 5"
    },
    {
      "id": "icontitle5",
      "type": "text",
   		"label": "Icon Title 5"
    },
    {
      "id": "icontext5",
      "type": "richtext",
   		"label": "Icon Text 5"
	  },
	  {
    	"type": "header",
    	"content": "bottom icons section"
    },
    {
      "id": "bottomtitle",
      "type": "text",
   		"label": "bottom Title"
    },
    {
      "id": "bottomtext",
      "type": "richtext",
   		"label": "bottom text"
    },
    {
      "id": "i1",
      "type": "image_picker",
   		"label": "Icon 1"
    },
    {
      "id": "i1c",
      "type": "text",
   		"label": "Icon 1 Title"
    },
    {
      "id": "i2",
      "type": "image_picker",
   		"label": "Icon 2"
    },
    {
      "id": "i2c",
      "type": "text",
   		"label": "Icon 2 Title"
    },
    {
      "id": "i3",
      "type": "image_picker",
   		"label": "Icon 3"
    },
    {
      "id": "i3c",
      "type": "text",
   		"label": "Icon 3 Title"
    },
    {
      "id": "i4",
      "type": "image_picker",
   		"label": "Icon 4"
    },
    {
      "id": "i4c",
      "type": "text",
   		"label": "Icon 4 Title"
    },
    {
      "id": "i5",
      "type": "image_picker",
   		"label": "Icon 5"
    },
    {
      "id": "i5c",
      "type": "text",
   		"label": "Icon 5 Title"
    },
    {
      "id": "i6",
      "type": "image_picker",
   		"label": "Icon 6"
    },
    {
      "id": "i6c",
      "type": "text",
   		"label": "Icon 6 Title"
    }
	]
}
{% endschema %}