<div class="carousel home-slider">
  {% for block in section.blocks %}
    <div class="carousel-cell">
      
      <img src="{{ block.settings.image | img_url: '2000x' }}">

      <div class="home-slider-callout" style="top: {{ block.settings.percenttop }}; left: {{ block.settings.percentleft }}; position:absolute;">
        <h1 style="color: {{ block.settings.textcolor }}">{{ block.settings.title }}</h1>
        <h6 style="color: {{ block.settings.textcolor }}">{{ block.settings.subtitle }}</h6>
        <a class="btn" style="color: {{ block.settings.btntextcolor }};  margin-top: 30px; background: {{ block.settings.btncolor }}" href="{{ block.settings.link }}">{{ block.settings.btn }}</a>
      </div>
      
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Home Slider - Flickity",
  "max_blocks": 10,
  "blocks": [
    {
      "type": "select",
      "name": "Carousel Image",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Page Featured Image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Slide title"
        },
        {
          "id": "subtitle",
          "type": "text",
          "label": "Slide subtitle"
        },
        {
          "id": "percenttop",
          "type": "text",
          "label": "Percent Top"
        },
        {
          "id": "percentleft",
          "type": "text",
          "label": "Percent Left"
        },
        {
          "id": "textcolor",
          "type": "color",
          "label": "Text Color"
        },
        {
          "id": "btn",
          "type": "text",
          "label": "Button text"
        },
        {
          "id": "btnlink",
          "type": "url",
          "label": "Button link"
        },
        {
          "id": "btncolor",
          "type": "color",
          "label": "Button Color"
        },
        {
          "id": "btntextcolor",
          "type": "color",
          "label": "Button Text Color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Slider",
      "category": "images",
      "blocks": [
        { 
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}